.gameButton {
  position: absolute;
  top: 4px;
  width: 80px;
  height: 40px;
  border: 1px solid var(--red);
  background-color: var(--orange);
  color: var(--darkPurple);
  border-radius: 4px;
  cursor: pointer;
}

.resetButton {
  left: 4px;
}

.randomButton {
  left: 88px;
}

.pausePlayButton {
  left: 172px;
}

.clearButton {
  left: 256px
}

.profilePicContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 100px;
  width: 100px;
  border-radius: 4px;
  overflow: hidden;
  transition: all 1s;
  border: 1px solid var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #0d1036;
  color: var(--yellow);
}

.expandContainer {
  position: absolute;
  height: 300px;
  width: 200px;
  top: calc(50% - 100px);
  right: calc(50% - 100px);
  transition: all 1s;
}

.imgButton {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  width: 100px;
  overflow: hidden;
  transition: all 1s;
}

.imgButton img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.expandButton {
  height: 200px;
  width: 200px;
}

.links {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 0px;
  justify-content: space-evenly;
  width: 100%;
  transition: all 1s;
  overflow: hidden;
}

.linksExpand {
  padding: 8px;
  height: 100px;
}
