.appContainer {
  height: 10000px;
}

.heroContainer {
  display: flex;
  justify-content: center;
}

.heroImage {
  position: fixed;
}

.heroImage2 {
  position: fixed;
  height: 105px;
  width: 168px;
}
