:root {
  --red: #c81837;
  --orange: #f77524;
  --yellow: #fcd549;
  --teal: #39818e;
  --darkPurple: #0d1036;
}

html, body, #root, .App, button, option {
  height: 100%;
  background-color: #0d1036;
  font-family: 'Audiowide', cursive;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--yellow);
}

a:visited {
  color: var(--yellow);
}